<!DOCTYPE html>
<html lang="en" ng-app="devmag">
<head>
    <meta charset="utf-8"/>

     <!-- meta -->
  <meta charset="utf-8"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="apple-itunes-app" content="app-id=954734793">
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">

  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
  <% } %>

     
     
    
 <%- Loader('/public/css/devmag.min.css')
.css('/public/css/devmag.min.css')
.css('http://fonts.useso.com/css?family=Roboto:400,300,500,700,400italic')
.done(assets, config.site_static_host, config.mini_assets)
%>

      <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.name %></title>
   <meta name='description' content='<%= topic.abstract %>'>
  <meta name="keywords" content="<%= topic.keywords %>"/>
  <% } else if (typeof(pageTitle) !== 'undefined') { %>
  <title><%= pageTitle %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <meta name='description' content='<%= config.description %>'>
  <meta name="keywords" content="<%= config.keywords %>"/>
  
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
  
</head>
<body>
 
 <div class="primary-bar container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
              <ul class="pull-left list-inline login-list">
                        <li class=" ok">
                            <p><a href="/">七一岸</a></p>
                        </li>
                         
                    </ul>
                
            </div>
        </div>
    </div>
</div>
<%- body %>
<div style="display:none;">
  <script src="http://s11.cnzz.com/z_stat.php?id=1256699495&web_id=1256699495" language="JavaScript"></script>
</div>


<script type="text/javascript">
  // 百度有很多 8080 的链接
  if (location.port == 8080) {
    location.port = 80
  }
</script>
 
<!-- scripts -->
  <%- Loader('/public/js/devmag.min.js')
  .js('/public/js/devmag.min.js')
     .done(assets, config.site_static_host, config.mini_assets)
  %> 

</body>
</html>
 
