  
<div class="floated-content">
    <div class="content-area">
        <div class="container">
            
            <div class="row main-content-area">
                <main>
                    <div class="col-xs-12 col-md-8 left-side single-page">
                        <article>
                            

                            

                            <div class="row single-container">
                                <div class="thread-wrapper">
                                    <div class="col-xs-12 single-thread first-thread" data-topic-id="2142">
                                        <div class="row post-header">
                                            <div class="col-sm-10 col-xs-8 headers-col">
                                                
                                                
                                                 <%= topic.title%>

                                                
                                            </div>
                                             

                                        </div>
                                        <div class="thread-final-content show">
                                            <div class="row">
                                                

                                                <div class="col-xs-12 col-md-12 ">
                                                     <%- topic.content%>

                                                    

                                                    <div id="github-box-mount"></div>
                                                </div>


                                                <div class="col-xs-12">
                                                    
                                                </div>

                                            </div>


                                            <div class="row tags-area">
                                                <div class="col-xs-12 tags-container">
                                                    <ul class="list-unstyled tagsList">
                                                     <% for(var i=0; i < topic.tags.length; i++) { %>    
                                                         
                                                       
                                                        <li><a href="/tags/<%=topic.tags[i]%>" ><span>#<%= topic.tags[i]%></span></a></li>
                                                        
                                                       <% } %>
                                                        
                                                        
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        

                                        <div class="row thread-details">
                                            <div class="col-xs-12">
                                                <ul class="list-inline pull-right action-list hidden-xs">
                                                     <li>
                                                        <a href="/weixin/read/<%= topic._id%>"> <%=  topic.datetime %> </a>
                                                    </li>

                                                </ul>
                                                <ul class="list-inline pull-left">
                                                   <!--  <li><a class="devmag-login-unauth  thumbs thumbs-up topicVoteBtn " data-type="up" href data-allowed="true" data-authorized="false"><i class="fa fa-arrow-up"></i> <span>Upvote</span></a></li>
                                                    <li><a class="devmag-login-unauth  thumbs thumbs-down topicVoteBtn " data-type="down" href data-allowed="true" data-authorized="false"><i class="fa fa-arrow-down"></i></a></li>
                                                    <li>
                                                        <span class="gap"></span>
                                                    </li>
                                                    <li class="update-profiles-wrapper">
                                                        <ul class="list-inline upvote-profiles-list">

                                                        </ul>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </article>

                        

                    </div>
                </main>
                <!-- Sidebar Template -->
             <%- partial('sidebar') %>
            </div>
        </div>
    </div>
</div>
<div id="internals" style="display:none">

    <script type="text/javascript">
        var devmagTopicViewInternals={}
    </script>

    <script type="text/javascript">
        devmagTopicViewInternals.topicId=2142
        devmagTopicViewInternals.topicType='discussion'
        devmagTopicViewInternals.coverImage='https://d1el8zjwha082o.cloudfront.net/github-prev.jpg'
        devmagTopicViewInternals.topicExternalUrl=''
        devmagTopicViewInternals.topicTags=["mvp","nodejs","angularjs","sailsjs","startup"]
    </script>

    <script type="text/javascript">
        devmagTopicViewInternals.userJSON="";
    </script>

    <input type="text"  id="topicIdentifier" value="2142"/>
</div>

<form class="username-modal">
    <div class="status" id="using-github">Connected with Github <i class="fa fa-github"></i></div>
    <div class="status" id="using-linkedin">Connected with LinkedIn <i class="fa fa-linkedin-square"></i></div>
    <div class="status" id="using-facebook">Connected with Facebook <i class="fa fa-facebook-square"></i></div>
    <div class="status" id="using-google">Connected with Google+ <i class="fa fa-google-plus-square"></i></div>
    <h2>We're happy to have you on board!</h2>
    <p>You are almost done. Pick a unique username for your profile.</p>
    <div class="username-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-10">
                    <div class="form-group has-feedback fullname-getter" style="display:none">
                        <input type="text" class="form-control" autocomplete="off" id="fullname" placeholder="Enter your name"/>
                        <span class="help-block">Looks like we didn't receive your name.</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" autocomplete="off" id="username" placeholder="Pick a username"/>
                        <span class="help-block">Only Alpha numerics and underscore.</span>
                        <span id="success-mark" class="mdi mdi-check form-control-feedback hide"></span>
                        <span id="failure-mark" class="mdi mdi-close form-control-feedback hide"></span>
                        <span id="signup-failed" style="display:none">Sorry! This username has been taken. </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-social btn-continue" id="finishSignupBtn"/>Continue <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal-overlay"></div>

<div class="login-modal">
    <div class="before-click">
        <h2>Please login to continue.</h2>
        <p class="login-text">Sign up/Log in using the following services.</p>
        <ul class="list-unstyled">
            <li>
                <a href="#" id="github" class="btn-social btn-github social-signin-btn"><i class="fa fa-github-square fa-fw"></i> Connect with GitHub</a>
            </li>
            <li>
                <a href="#" id="linkedin" class="btn-social btn-linkedin social-signin-btn"><i class="fa fa-linkedin-square fa-fw"></i> Connect with LinkedIn</a>
            </li>
            <li>
                <a href="#" id="facebook" class="btn-social btn-facebook social-signin-btn"><i class="fa fa-facebook-square fa-fw"></i> Connect with Facebook</a>
            </li>
            <li>
                <a href="#" id="google" class="btn-social btn-google-plus social-signin-btn"><i class="fa fa-google-plus-square fa-fw"></i> Connect with Google+</a>
            </li>
            <li>
                <p class="text-center"><small>We won't publish anything without your consent.<br/>By joining devmag.io you accept our <a href="/tos.html" target="_blank">Terms of Service <i class="fa fa-external-link fa-fw"></i></a>.</small></p>
            </li>
        </ul>
        <ul class="list-inline top-devs">

        </ul>
    </div>
    <div class="after-click">
        <h2></h2>
        <p class="login-text"><i class="fa fa-refresh fa-spin"></i> Waiting for response..</p>
    </div>
</div>

<!-- Modals -->
<div class="login">
    <div class="login-wrapper"></div>
    <div login-modal></div>
</div>

<div signup-finish-modal></div>

<div class="file-upload-modal">
    <div class="file-upload-header">
        <a class="btn btn-default btn-sm pull-right cancel-btn">Cancel</a>
        <a class="btn btn-default btn-sm pull-right crop-save-btn">Crop &amp; Save</a>
        <h3 id="upload-image">Upload Image <i class="fa fa-camera"></i></h3>
    </div>
    <div class="file-upload-container">
        <div class="no-image-uploaded">
            <input type="file" accept="image/*" class="hide" id="hiddenUploadInput" value="Select Image">
            <a href class="btn btn-default upload-btn"><i class="fa fa-upload"></i> Select File</a>
        </div>
        <div class="image-uploaded">
            <img class="img-responsive"/>
        </div>
    </div>
</div>

<div class="poll-modal-container">
    <div class="poll-backdrop"></div>
    <div class="poll-results-modal">
        <div class="poll-modal-header">
            <a href="#" class="close-modal-button material-button pull-right">Done</a>
            <p>Poll Results</p>
        </div>
        <div class="poll-modal-body">
            <!--<a href="#" class="poll-creator-pic" style="background-image: url('https://avatars.githubusercontent.com/u/84222?v=3')"></a>-->
            <p id="poll-main-title" class="poll-main-title"></p>
            <p class="poll-data">Created by <span id="poll-creator-info"></span> <span id="poll-date-count"></span></p>
            <div id="poll-modal-options" class="poll-modal-options"></div>
        </div>
    </div>
</div>

<div class="upvoted-people-modal">
    <div class="upm-container">
        <div class="upm-header">
            <a href="#" class="upm-done-btn"><i class="mdi mdi-close"></i></a>
            <p>Post Activity</p>
        </div>
        <div class="upm-content">
        </div>
    </div>
</div>

<div class="global-error-notification hidden-xs hidden-sm">
    <i class="mdi mdi-close-circle"></i>
    <p>You have used all the credits. You can earn more credits by participating in discussions. <a target="_blank" href="http://blog.devmag.io/2015/06/25/credits">Learn more.</a></p>
</div>



<div class="transparent-wrapper slideout-notification-wrapper">
    <div class="slideout-menu slideout-right animated">
        <div class="slideout-header">
            <a href="#" class="close-notification-center"><i class="mdi mdi-close"></i></a>
            <h3><i class="fa fa-bolt"></i> Notification Center</h3>
        </div>
        <div class="slideout-area-menu">
            <ul class="list-inline">
                <li>
                    <a href="#" class="mark-all-as-read">Mark all read</a>
                </li>
                <li>
                    <a href="#" class="clear-all">Clear all</a>
                </li>
            </ul>
        </div>
        <div class="slideout-body">
            <div class="no-notification-content" style="display:none">
                <p>No new notifications for now.<br/>Participate in community, share knowledge and follow other developers to start receiving notifications.</p>
            </div>
            <div class="fill-notifications">
                <ul class="list-unstyled notification-list-items"></ul>
            </div>
        </div>
    </div>
</div>

<div class="feedback-modal animated">
    <div class="form-container feedback-modal-inner-div">
        <h3><i class="mdi mdi-bug"></i> Report Bug</h3>
        <form>
            <div class="form-group">
                <label for="messageBox" class="control-label">Please describe the problem : </label>
                <textarea id="messageBox" class="form-control feedback-message"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="autoScreenshot" checked> Automatically include a screenshot of your current page.
                </label>
            </div>
            <div class="form-group">
                <button type="submit" id="submit-bug-report" class="btn btn-default">Submit</button>
                <button type="submit" class="btn btn-link report_close">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div class="feedback-modal-status animated">
    <h3><i class="mdi  mdi-check"></i> Thanks for your feedback! <button type="submit" id="feedback-ok-button" class="btn btn-default">Ok</button></h3>
</div>

<div class="delete-confirm-modal animated">
    <h3>Are you sure you want to delete this?</h3>
    <a href="#" class="btn btn-danger">Yes</a> <a href="#" class="btn btn-grey">No</a>
</div>



<div class="report_cover"></div>



<div class="user-login-modal">
    <div class="login-container">
        <div class="header-login-modal">
            <a href="#" class="close-login-modal"><i class="mdi mdi-close"></i></a>
            <p>Login or Sign up</p>
            <div class="info-icons">
                <i class="mdi mdi-clipboard-account"></i>
                <i class="mdi mdi-lock lock-icon"></i>
            </div>
        </div>
        <div class="content-login-modal">
            <div class="pre-login" id="pre-login">
                <p>Connect with one of the following accounts</p>
                <div class="login-btns-container">
                    <a href="#" id="github" class="github social-signin-btn">Github <i class="mdi mdi-github-circle"></i></a>
                    <a href="#" id="linkedin" class="linkedin social-signin-btn">LinkedIn <i class="mdi mdi-linkedin"></i></a>
                    <a href="#" id="google" class="google-plus social-signin-btn">Google+ <i class="mdi mdi-google-plus"></i></a>
                    <a href="#" id="facebook" class="facebook social-signin-btn">Facebook <i class="mdi mdi-facebook"></i></a>
                </div>
                <p class="info-message">We don't request write access from the above services. Hence, we can never publish anything without your consent.</p>
                <p class="info-message">By joining devmag.io you accept our <a href="/tos.html" target="_blank">Terms of Service</a>.</p>
            </div>
            <div class="while-login" id="while-login">
                <p><i class="mdi mdi-refresh processing-icon"></i></p>
                <p class="talking">Connecting with LinkedIn ... </p>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="username-internal" value=""/>
<input type="hidden" id="first-time-login" value=""/>

<div class="slideout-wrapper">
    <div class="slideout-helper animated">
        <div class="loadingAnimation markdown-help-preloader">
            <p><i class="fa fa-refresh fa-spin"></i> One moment please..</p>
        </div>
        <div class="markdown-content">
        </div>
    </div>
</div>

 


</body>
</html>
