 <aside>
                    <div class="col-md-4 hidden-xs hidden-sm right-side">

    <div class="sidebar-widget hiring-widget">
        <a href="#">
            <div class="hiring-header">
                <div class="div-cover"></div>
                <p>七一岸</p>
                <i class="go-icon mdi mdi-arrow-right"></i>
            </div>
            <div class="hiring-body">
                <p>成长是憧憬和怀念的天平，当它倾斜得颓然倒下时，那些失去了月光的夜晚该用怎样的声音去抚慰。</p>
            </div>
        </a>
    </div>

    
    
    

     
</div>

                </aside>